body{
    background: rgb(61, 60, 60);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{

    font-size: 60px;
    text-align: center;
}
h2{ 
    font-size: 40px;
    text-align: center;
    
}
p{
    font-size:larger ;
}
.imagem{
    position: absolute;
    top: 500px;
    left: 50px;
    width: 500px;
    height: 500px;
   
} 
img{
    border: 10px solid #000;
    width: 400px;
    height: 500px;
}
.caixa1{
    background: rgb(104, 1, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 600px;
    left:600px;
    width: 800px;
    height: 350px;
    text-align: center;
}
.gear-8{
    position: absolute;
    top: 1100px;
    left:600px;
    font-size: 24px;
}