header{
    width: 100%;
    background: rgba(129, 7, 7, 0.897);
    color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}
.container-logo{
    display: flex;
    align-items: center;
}
.logo-texto{
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(3, 0, 0);
    text-transform:uppercase ;
}
